<h2 class="text-center">Product List</h2>
<div class="container">

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price(Per Unit)</th>
            <th>Available</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}    </td>
            <td>{{product.name}}</td>
            <td>{{product.category  }}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.available}}</td>
            <td>
                <button (click)="updateProduct(product.id)" class="btn btn-info">Update</button>
                <button (click)="deleteProduct(product.id)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click)="viewProduct(product.id)" class="btn btn-success" style="margin-left: 10px;">View</button>

            </td>
        </tr>
    </tbody>
</table>
    
</div>