<div>
    <div class="btn-group mt-3 mb-3" role="group" aria-label="Radio toggle button group">
        <input type="radio" routerLink="products" class="btn-check" name="options" id="Products" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="Products">Products</label>

        <input type="radio" routerLink="create-product" class="btn-check" name="options" id="Users" autocomplete="off">
        <label class="btn btn-outline-primary" for="Users">Users</label>
    </div>
    
    <router-outlet></router-outlet>

</div>