<section class="vh-100" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-10 col-xl-9">
        <div class="card shadow-lg rounded-4">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 order-2 order-lg-1">

                <h3 class="text-center text-primary fw-bold mb-3">ADD USER</h3>

                <form (ngSubmit)="onSubmit()" >

                  <div class="mb-4">
                    <label for="name" class="form-label">User Name</label>
                    <input type="text" [(ngModel)]="user.uname" name="uname" id="uname" class="form-control form-control-lg" required>
                  </div>

                  <div class="mb-4">
                    <label for="email" class="form-label">Username(Email)</label>
                    <input type="text" [(ngModel)]="user.username" name="username" id="username" class="form-control form-control-lg" required>
                  </div>

                  <div class="mb-4">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" [(ngModel)]="user.phone" name="phone" id="phone" class="form-control form-control-lg" required>
                  </div>

                  <div class="mb-4">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" rows="3" [(ngModel)]="user.address" name="address" id="address" required></textarea>
                  </div>

                  
                 
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary btn-lg ">Update</button>
                    <button (click)="backOnList()" class="btn  me-md-4 btn-outline-info btn-lg" type="button">Back</button>
                  </div>
                </form>
              </div>

              <div class="col-md-10 col-lg-6 d-flex align-items-center order-1 order-lg-2">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid rounded-4" alt="Product illustration">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
