<div class="container">

  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterProducts()"
    placeholder="Search by name"
    class="form-control mb-5 mt-3"
    style="background-color: rgb(224, 228, 230); border:2px solid black;border-radius:20px"
  />

  <div *ngIf="filteredProducts.length === 0">
    <p>No matching products found.</p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
        <div class="card h-100" >
          <div class="card-img-top">
          <img *ngIf="product.imagePaths"
            [src]="'http://localhost:8080' + product.imagePaths.trim()"
            alt="Product Image"
            class="img-fluid rounded shadow-sm mb-2"
            style="height: 300px;min-width:200px">
          <p *ngIf="!product.imagePaths">Image not available</p>
        </div>
        <div class="card-body" style="background-color: rgb(126, 192, 211);">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <strong>₹{{ product.price }}</strong>
        </div>
        <div class="card-footer" style="background-color: lightblue;">
          <a [routerLink]="['/user-dashboard/view', product.id]" class="btn btn-primary me-2">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
